header{
    background-color: white;
    color: black;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

main{
    background-color: blueviolet;
    color: white;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
