body{
    background-color: red;
}
header{
    background-color: white;
    color: darkgoldenrod;
}
main{
    background-color: blueviolet;
    color: azure;
    text-align: center;
}
h1{
    background-color: black;
    color: white;
    padding: 15px;
}
p{
    background-color: blue;
    color: aquamarine;
    padding: 10px;
}
h2{
    background-color: blanchedalmond;
}
