body{
    background-color: red;
}
main{
    background-color: blueviolet;
    padding: auto;
}
h1{
    background-color: black;
    color: white;
    padding: 15px;
}
p{
    background-color: blue;
    color: aquamarine;
    padding: 10px;
}
